#payment-form {
    max-width: 400px;
    margin: 0 auto;
}

#submit {
    background-color: #a7ceba;
    color: #004e64;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.spinner {
    display: none;
}

.hidden {
    display: none;
}

#payment-message {
    margin-top: 20px;
    font-size: 16px;
    color: #ff0000;
}

/* FOCUSED BUTTON */
#payment-element {
    border: 0px solid #32325d;
}

#payment-element:focus {
    border-color: #a7ceba;
}

/* Custom Google Pay button style */
.gpay-button {
    background-color: #a7ceba !important;
}